* {
	box-sizing: border-box;
}

body {
	background-color: #FFDCE1;
	background-image: url(images/background03.jpg);

}

.bodyBox {
	text-align: center;
}

.heading {
	text-align: center;
	font-family: "verdana", "sans-serif";
	font-weight: 900;
	font-size: 100px; 
	outline-color: black;
	color: white;
}

.main-box {
	display: inline-block;
	height: 600px;
	width: 600px;
}

.square {
	display: inline-block;
	height: 200px;
	width: calc(200px - 4px);
	border: none;
	background-color: #D3D3D3;
}


.main-display {
	display: inline-block;
	height: 500px;
	width: 500px;
	border: none;
	background-color: linen;
	vertical-align: top;
}

.player1Img, .player2Img {
	display: inline-block;
	width: 100px;
	height: 100px;
}

.player1Img {
	background: url("images/image01.jpg");
	background-size:cover; 
}

.player2Img {
	background: url("images/image02.jpg");
	background-size:cover;  
}

.pIwD1, .pIwD2 {
	display: inline-block;
	text-align: cetner;
	padding: 0 14%;
}


.childDisplay {
	display: center;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border: 5px solid #D3D3D3;

}

.player1-display {
	background: url("images/image01.jpg");
	display: center;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background-size:cover; 
}

.player2-display {
	background: url("images/image02.jpg"); 
	display: center;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background-size:cover; 
}


.pT {
	text-align: center;
}

.resetButt {
	display: inline-block;
	border: 2px solid blue;
	height: 100px;
	width: 100px;
	background-color: linen;
}

.occupied1 {
	background: url("images/image01.jpg");
	background-size:cover; 

}

.occupied2 {
	background: url("images/image02.jpg");
	background-size:cover;  
}

